@charset "UTF-8";


h2{
  margin-top: 0;
    margin-bottom: 1px;
    font-family: 'Timmana',"M PLUS Rounded 1c";
    font-size: 50px;
    text-align: center;
    letter-spacing: 0.2em;
    margin-left: 0.2em;
}  

h3{
    margin-top: 0;
    margin-bottom: 1px;
    font-family: 'Timmana',"M PLUS Rounded 1c";
    font-size: 40px;
    letter-spacing: 0.2em;
    margin-left: 0.2em;
}  
h4{
  margin-top: 0;
  margin-bottom: 1px;
  font-family: 'Timmana',"M PLUS Rounded 1c";
  font-size: 50px;
  letter-spacing: 0.2em;
  margin-left: 0.2em;
}


span
{
  margin-top: 10;
  font-family: 'Timmana',"M PLUS Rounded 1c";
  font-size: 80px;
  
  background:#a8e0f0;
  border-radius: 100%;
  font-weight: 700;
  transition: 1s;
}


#home {
  background-color:#eaf6fd;
  opacity:0.7;  

}

.result {
    text-align: center;
  }

.main .text { 
    padding-bottom: 60px;
    text-align: center;
  }

.container
{
  margin: 0;
  padding: 0;
  display: inline-block;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Poppins',sans-serif;
} 
.quote
{
  widows: 1200px;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.box5
{
  margin-left: 330px;
  margin-right: 300px;
  margin-top: 100px;
  left: 400px;
  width: 500px;
  height: 350px;
  text-align: center;
  background:white;
  overflow: hidden;
  transition: 0.5s;
  z-index: 2;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: -10px 25px 50px rgba(0,0,0,.2);
}　

.container .box5::before
{
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.2);
  z-index: 2;
}

.container .box5:nth-child(1) .icon
{
  box-shadow: 0 0 0 #a8e0f0;
  background: #a8e0f0;
}
.container .box5:nth-child(1):hover .icon
{
  box-shadow: 0 0 0 400px #a8e0f0;
}

@media screen and (max-width:1000px) {
  .container
  {
    display: flex;
    flex-wrap:wrap;
    max-width: 1000px;
    margin: auto;
  }
} 