<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/result_style.css">
  <link rel="stylesheet" href="static/js/main.js">
  <link href="https://fonts.googleapis.com/css?family=Timmana&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9bd63d7b85.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
  <title>Twitter_Analyzer</title>
</head>
<body>
  {% for message in get_flashed_messages() %}
  <div class="flash">
    {{ message }}
  </div>
  {% endfor %}
  {% block body %}{% endblock %}
</body>
</html>